.Link {
    text-decoration: none;
    color: white;
}

.Link:hover {
    text-decoration: underline;
}

.Image {
    width: 100%;
    border-radius: 10px;
}

.Card {
    background-color: var(--primary);
    padding: 12px 15px;
    border-radius: 7px;
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.Overview {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.Title,
.Average {
    margin: 0;
}
