.Link {
    text-decoration: none;
    color: white;
}

.Link:hover {
    text-decoration: underline;
}

.Image {
    width: 100%;
    border-radius: 10px;
}

.Card {
    border-radius: 7px;
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.Title,
.Average {
    margin: 0;
}
