.Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
}

.CardList {
    display: grid;
    justify-items: center;
    width: 85%;
    margin: 0 100px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    text-align: center;
}
