.Container {
    color: white;
}

.Top {
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-end;
}

.Thumb {
    position: absolute;
    left: 40px;
    bottom: 50px;
    box-shadow: 5px 5px 50px #00000030;
}

.Summary {
    background: linear-gradient(#00000035, black);
    height: 30%;
    font-size: 20px;
    overflow: scroll;
    text-align: center;
}

.Overview {
    font-size: 1.3em;
}

.More {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

.More:not(:hover) {
    text-decoration: none;
}

.Title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 70px;
}

.Tagline {
    font-size: 30px;
    font-weight: bold;
}

.Bottom {
    background-color: black;
    height: 100vh;
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
}

.Section div {
    margin-left: 10px;
}

.Actors {
    display: flex;
    overflow: scroll;
    align-items: start;
    gap: 15px;
}

.Actor {
    text-align: center;
    color: white;
}

.Actor:not(:hover) {
    text-decoration: none;
}

.Tags {
    display: flex;
    gap: 10px;
    width: 100%;
    overflow: scroll;
}

.Tags > * {
    background-color: var(--primary);
    padding: 5px 7px;
    border-radius: 10px;
    white-space: nowrap;
}

.Average {
    display: flex;
    gap: 5px;
}

.Rate {
    color: white;
}

.RatingsLink {
    color: white;
}
