.Container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: transparent;
    position: absolute;
    color: white;
}

.Container h1 {
    color: white;
}
