:root {
    --primary: #14bbaa;
    --secondary: #2c3c4c;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    margin: 0;
    background-color: var(--secondary);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

button {
    cursor: pointer;
}

hr {
    width: 100%;
    color: white;
}

#root,
body {
    height: 100%;
}
